html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: "Rajdhani", Arial, sans-serif;
    color: #8A94A6;;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 24px;
  }

  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .container-center {
    width: 1260px;
    margin: 0 auto;
    padding: 0 50px;
  }

.page-header__logo {
    position: absolute;
    z-index: 5;
}

.logo__pic {
    padding-top: 32px;
}

.promo__slide1 {    
    background-image: url(img/desctop-img/slide1.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    min-height: 768px;
  }

   .promo__slide2,
  .promo__slide3 {
    display: none;
  }


.slide1__name,
.slide1__slogan,
.slide1__number {
    color: #ffffff;
}

.slide1__name {
    padding-top: 572px;
    font-size: 72px;
    line-height: 72px;
    font-weight: 400;
    width: 295px;
    margin-bottom: -30px;     
}

.slide1__slogan {
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 32px;
}

  .slide1__number {  
      font-size: 20px;
      line-height: 32px; 
      font-weight: 500;        
      bottom: 12px;  
      margin-left: 160px;   
  }


.promo-slider__toggle {
    position: absolute;
    z-index: 7;
    bottom: 4px;
    width: 17px;
    height: 17px;   
    border: 3px solid #ffffff;
    background-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;   
    
}

.promo-slider__toggle--left {
    left: 62px;
    transform: rotate(45deg);
}

.promo-slider__toggle--right {
    left: 113px;
    transform: rotate(225deg);
    
}