html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: "Rajdhani", Arial, sans-serif;
    font-style: normal;
    color: #8A94A6;;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }

  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .container-center {
    width: 1360px;
    margin: 0 auto;
    /* padding: 0 50px; */
  }

.page-main {
  display: flex;
  flex-wrap: wrap;
  width: 1360px;
  padding-bottom: 25px;
}

.promo-slider__wrapper {
  width: 600px;
  margin: 0 auto;
  padding: 0 50px;
}

.promo-slider {
  min-width: 600px;
  margin-right: 76px;
}

.page-header__logo-wrapper {
  position: relative;
  width: 600px;
  padding: 0 50px;  
} 

.page-header__logo {
  position: absolute;
}

.logo__pic {
  display: block;
  padding-top: 32px;
}

.promo__slide1 {    
    background-image: url(img/desktop-img/slide1.jpg);
    background-repeat: no-repeat;
    background-position: 19% 0;
    min-height: 768px;
  }
  
.promo__slide2 {
    background-image: url(img/desktop-img/slide2.jpg);
    display: none;
  }


.promo__slide3 {
  background-image: url(img/desktop-img/slide3.jpg);
  display: none;
}

.slide1__name,
.slide1__slogan,
.slide1__number {
    color: #ffffff;
}

.slide1__name {
    padding-top: 569px;
    padding-left: 1px;
    font-size: 72px;
    line-height: 72px;
    font-weight: 400;
    width: 314px;
    margin-top: 0;
    margin-bottom: -30px;     
}

.slide1__slogan {
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 34px;
    padding-left: 2px;
}

  .slide1__number {  
      font-size: 20px;
      line-height: 32px; 
      font-weight: 500;       
      margin-left: 163px;         
  }

  .slide1__number--second {
    display: inline-block;
    margin-left: 14px;
  }
/*------------------------*/

.promo-slider__toggle-cover {
  position: relative;
  margin-right: 90px;
}

button {
padding: 0;
border: 0;
font: inherit;
color: inherit;
background-color: transparent;
cursor: pointer;
}

.promo-slider__toggle {
  position: absolute;
  width: 12px;
  height: 12px;
  border: 3px solid #ffffff;
}


.promo-slider__toggle-left {
    border-top-color: transparent;
    border-right-color: transparent;     
    left: 30px;
    bottom: 30px;
    transform: rotate(45deg);
    z-index: 12;
  }

  .promo-slider__toggle-right {
    border-right-color: transparent;
    border-top-color: transparent;
    left: 70px;
    bottom: 30px;
    transform: rotate(225deg);
  }

  /* .promo-slider__toggle-left::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -19px;
    left: -18px; 
    border-radius: 50%;
    border: 1px solid #ffffff;      
    z-index: -23;
  }
 */
  .promo-slider__toggle-left:hover::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -19px;
    left: -19px;
    border-radius: 50%;
    border: 1px solid #ffffff;      
    z-index: -23;
  }

 .promo-slider__toggle-left:active::before {
    background-image: url(img/desktop-img/arrow-active-left.png);
    transform: rotate(-45deg);
    bottom: -20px;
    left: -21px;  
  }

  .promo-slider__toggle-right:hover::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -19px;
    left: -18px;
    border-radius: 50%;
    border: 1px solid #ffffff;      
    z-index: -23;
  }

 .promo-slider__toggle-right:active::before {
    background-image: url(img/desktop-img/arrow-active-right.png);
    transform: rotate(132deg);
    bottom: -19px;
    left: -19px;
  }

.order {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 632px;
}

.order__title {
    width: 150px;
    padding-top: 44px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

@media (max-width: 720px) {
    
  .logo__pic {
    padding-top: 24px;
  }

  .order__title {
    width: 120px;   
    margin-bottom: 0;     
  }

  .container-center {
    width: 720px;
    margin: 0 auto;    
  }
  
  .page-main {
    display: block;
  }
}

.order__name-product {
    width: 330px;
    margin: 0;
    margin-bottom: -6px;
    padding-top: 9px;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #192B3F;
}

.order__description-product {
    /* width: 383px; */
    width: 616px;
    padding-left: 0;
    padding-right: 230px;
    padding-bottom: 10px;
    border-bottom: 1px solid #E1E6ED;
    margin-bottom: 9px;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;    
    opacity: 0.8;
}

.order__form {
  display: flex;
  flex-wrap: wrap;  
  width: 616px;  
}

/*----------------------поле выбора цвета--------------------------*/
fieldset {
    border: 0;
}

.order__form-color {
  width: 141px;/*164px*/
  margin-bottom: 57px;
  padding-left: 0;
  order: 1;
}

.color__title,
.size__title,
.quantity__title,
.cost__title {
  font-weight: 700;
  color: #8A94A6;
  text-transform: uppercase;
}

.color__title {
  width: 55px;
  padding-left: 0;
  padding-top: 8px;

}

.color__input {
    width: 26px;
    height: 26px;    
}

.color__label--black,
.color__label-d-grey,
.color__label-grey {
  position: relative;
  display: block;
  cursor: pointer;
  padding-left: 36px;
}

.color__label--black::before,
.color__label-grey::before,
.color__label-d-grey::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  /* border: 4px solid #4d4d4d; */
  left: 0;
  top: 5px;
  border-radius: 50%;
  
  /* background: radial-gradient(transparent 9px, #4d4d4d 9px, #4d4d4d 13px); */
}

.color__label--black::before {
    background-color: #192B3F;
   /*  left: -2px; */
    left: 1px;

}

.color__label-grey::before {
    left: 39px;
    background-color: #8A94A6;
}

.color__label-d-grey::before {
    left: 77px;
    background-color: #3D5876;
}

.color__input:checked+ .color__label--black::before {
    content: "";
    width: 32px;
    height: 32px; 
    top: 2px;
    background: radial-gradient(#192B3F 12px, transparent 14px, #192B3F 15px, #192B3F 16px);
}

.color__input:checked+ .color__label-grey::before {
    content: "";
    width: 32px;
    height: 32px;
    left: 36px;
    top: 2px;
    background: radial-gradient(#8A94A6 12px, transparent 14px, #8A94A6 15px, #8A94A6 16px);
}

.color__input:checked+ .color__label-d-grey::before {
    content: "";
    width: 32px;
    height: 32px;
    top: 2px;    
    background: radial-gradient(#3D5876 12px, transparent 14px, #3D5876 15px, #3D5876 16px);
}
/*----------------------поле выбора размера--------------------------*/
.order__form-size {
  display: flex;
  width: 181px;
  margin-bottom: 20px;
  /* margin-right: 25px; */
  order: 2;
}

.size__title {
  width: 32px;
  padding-top: 9px;
}

.size__label-xs,
.size__label-s,
.size__label-m,
.size__label-l {
  position: relative;
  display: block;
  cursor: pointer;
  padding-left: 26px;  
}

.size__label-xs {  
  margin-left: 7px;
  padding-left: 2px; 
  top: 5px; 
}

.size__label-s {
  top: 5px;
  padding-left: 23px;
}

.size__label-m {
  top: 6px;
}

.size__label-l {
  top: 6px;
  left: 3px;
}

.size__label-xs::before,
.size__label-s::before,
.size__label-m::before,
.size__label-l::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;  
  left: 1px;
  top: 4px;
  border-radius: 50%;  
}

.size__label-s::before {
  content: "";
  left: 32px;
}

.size__label-m::before {
  content: "";
  left: 62px;
}

.size__label-l::before {
  content: "";
  left: 92px;
}

.size__input:checked+.size__label-xs::before {
  content: "";
  left: -4px;
  top: -4px;
  background: radial-gradient(transparent 15px, #192B3F 16px);
}

.size__input:checked+.size__label-s::before {
  content: "";
  left: 15px;
  top: -4px;
  background: radial-gradient(transparent 15px, #192B3F 16px);
}

.size__input:checked+.size__label-m::before {
  content: "";
  left: 17px;
  top: -4px;
  background: radial-gradient(transparent 15px, #192B3F 16px);
}

.size__input:checked+.size__label-l::before {
  content: "";
  left: 14px;
  top: -5px;
  background: radial-gradient(transparent 15px, #192B3F 16px);
}

.size__input:checked+.size__label {
  color: #192B3F;
  font-size: 20px;  
}

/*----------------------выбор количества товара--------------------------*/
.order__form-quantity {
  display: flex;
  width: 154px;
  margin-bottom: 20px;
  padding: 0;
  order: 4;
}

.quantity__title {
  margin-left: -3px;
}

.quantity__label-minus,
.quantity__label-plus {
  font-size: 29px;
}


.quantity__label-minus,
.quantity__label-plus {
  position: relative;
  display: block;
  cursor: pointer;
  color: #192B3F;
  /* left: 10px;   */
}

.quantity__label-minus::before {
  left: -9px;
  top: 9px;
}

.quantity__label-minus {
  margin-right: 20px;
  padding-left: 2px;
  padding-top: 14px;
}

.quantity__label-plus {
  padding-left: 10px;
  padding-top: 14px;
}

.quantity__label-plus::before {
  left: 5px;
  top: -1px;
}

.quantity__label-minus::before,
.quantity__label-plus::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;   
  border-radius: 50%; 
  /* background-color: green; */
  opacity: 0.4;
  /* left: -6px; */
}

.quantity__label-plus::before {
  left: 2px;
  top: 9px;
}

.quantity__input:checked+.quantity__label-minus::before {
  content: "";  
  background: radial-gradient(transparent 15px, #192B3F 16px);
}

.quantity__input:checked+.quantity__label-plus::before {
  content: "";  
  background: radial-gradient(transparent 15px, #192B3F 16px);
}

.quantity__input-number[type="text"] {
  font-size: 24px;
  width: 20px;
  padding-top: 10px;
  border: none;
  color: #8A94A6;
}

.order__cost {
  width: 198px;
  padding: 0;
  order: 5;
}

.cost__title {
  width: 40px;
  margin-bottom: 5px;
}

.cost__label {
  font-size: 40px;
  line-height: 40px;
  color: #C9B8A8;
}

.cost-good__price {
  font-size: 28px;
  line-height: 40px;
  color: #8A94A6;
}

.order__guide-wrapper {
  order: 3;
  margin-right: 20px;
}

.order__details {     
  width: 616px;
  border-top: solid 1px #E1E6ED;
  padding-top: 30px;
}

.order__guide-btn {
  display: block;
  width: 93px;
  text-align: center;
  color: #C9B8A8;
  border: solid 1px #C9B8A8;
  border-radius: 35px;
  margin-left: 26px;
  margin-top: 42px;
  margin-bottom: 30px;
}

.order__details-title {
  width: 116px;
  font-weight: 700;
  text-transform: uppercase;
  color: #8A94A6;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}

.order__details-description {
  width: 607px;
  margin: 0;
  margin-bottom: 9px;
  color: #192B3F;
  opacity: 0.8;
}

.order__details-contain {
  margin: 0;
  margin-bottom: 69px;
  line-height: 20px;;
  color: #8A94A6;
}

.order__btn,
.subscribe-form__button {
  display: block;
  width: 616px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  background-color: #192B3F;
  cursor: pointer;
}

.order__btn:hover {
  background-color: #2E4055;
}

.order__btn:active {
  background-color: #3B536D;
}

.order__wrapper,
.subscribe__wrapper {
  width: 638px;
  padding-left: 16px/*20px*/;
  padding-right: 2px;
  margin: 0 auto
}

.order__delivery-input,
.order__delivery-content,
.order__return-input,
.order__return-content {
  display: none;
}

.order__delivery, 
.order__return {
  color: black;
  margin-bottom: 14px;
}

.order__delivery-title,
.order__return-title {
  display: block;
  font-size: 24px;
  line-height: 32px;
  color: #192B3F;
  cursor: pointer;
}

.order__return-title {
  /* margin-bottom: 4px; */
}

.order__delivery-title::after,
.order__return-title::after {
  content: "+";
  float: right;
}

.order__delivery :checked + .order__delivery-title,
.order__return :checked + .order__return-title {
  background-color: #8A94A6;
  color: #ffffff;
}

.order__delivery :checked + .order__delivery-title::after,
.order__return :checked + .order__return-title::after {
  content: "-";
  float: right;
}

.order__delivery :checked ~ .order__delivery-content,
.order__return :checked ~ .order__return-content {
  display: block;
}

.order__delivery,
.order__return {
  width: 616px;
  border-bottom: solid 1px #E1E6ED;
  padding-bottom: 8px;
}

.subscribe {
  width: 632px;
  margin-left: auto;
  margin-right: 52px; 
}

.similar-collection__title {
  width: 150px;
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
  text-transform: uppercase;
  color: #8A94A6;
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  padding-top: 27px;
}

.collection__1,
.collection__2 {
  display: block;
  width: 296px;
  margin-left: 0;
}

.collection__1 {  
  margin-left: 0;
  margin-right: 24px;
}

.similar-collection {
  margin-bottom: 54px;
}

.subscribe-form__feedback{
  padding: 0;
}

.newsletter__title {
  width: 325px;
  margin: 0;
  font-size: 32px;
  font-weight: inherit;
  line-height: 40px;
  color: #192B3F;  
}

.feedback__title {
  width: 400px;
  font-weight: inherit;
  font-size: 20px;
  line-height: 32px;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  color: #8A94A6;
  opacity: 0.8;
}

.feedback__input {
  width: 470px;
  margin-bottom: 20px;
  padding-left: 14px;
  font-size: 14px;
  color: #8A94A6;
  line-height: 36px;
  /* opacity: 0.2; */
  background-color: rgba(249, 250, 251, 1);
  border-radius: 1px;
  border: none;
}

.feedback__input--mail {
  margin-bottom: 9px;
}

.feedback__input::placeholder {
  color: #8A94A6;
}

.gender__title {
  width: 167px;
  margin: 0;
  margin-right: 26px;
  font-size: 20px;
  line-height: 32px;
  opacity: 0.8;
}

.gender {
  display: flex;
  width: 350px;
  padding-left: 0;
  margin: 0;
}

.gender__item {
  width: 65px;
}

.gender__label-radio {
  position: relative;
  display: block;
  padding-left: 26px;
  padding-top: 6px;
  cursor: pointer;
}

.gender__label-radio--man {
  margin-right: 5px;
}

.gender__label-radio::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  right: 48px;
  border-radius: 50%;
  border: solid 1px #8A94A6;
}

.gender__input-radio:checked+ .gender__label-radio::before {
  content: "";
  background: radial-gradient(#192B3F 6px, transparent 7px, transparent 11px, #8A94A6 12px, #8A94A6 20px);
}

.subscribe-form__input {
  width: 366px;
  color: #192B3F;
  opacity: 0.8;
}

.subscribe-form__label {
  position: relative;
  display: block;
  margin-bottom: 20px;
  padding-left: 25px;
  padding-top: 6px;
  cursor: pointer;
  opacity: 0.8;
}

.subscribe-form__label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: -2px;
  border: 1px solid #E1E6ED;
}

.subscribe-form__input:checked + .subscribe-form__label::before {
  content: "";
  background-color: #192B3F;
  background-image: url(img/desktop-img/checkbox_13.svg);
}

.subscribe-form__button {
  font-family: inherit;
  border: none;
}

.subscribe-form__button:hover {
  background-color: #2E4055;
}

.subscribe-form__button:active {
  background-color: #3B536D;
}


@media (min-width: 1360px) {
  .similar-collection-img {
    display: flex;  
    flex-wrap: wrap;
  }

  .promo-slider__toggle-cover {  
    left: 35px;
  }

  .promo-slider__toggle-left,
  .promo-slider__toggle-right {
    bottom: 41px;
  }
}

@media (max-width: 320px) {
  .promo__slide1 {
    background-image: url(img/mobil-img/image\ 2.1.jpg);
    background-repeat: no-repeat;
    background-position: cover; 
    min-height: 600px;
    width: 320px;
    margin: 0;
  }

  .page-header__logo-wrapper {
    position: relative;
    width: 320px;
    /* padding: 0 16px; */
    left: 130px;
  }

  .container-center {
    width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}

  .promo-slider__wrapper {
    width: 320px;
    margin: 0 auto;
    padding: 0 16px;
    }

    .slide1__name {
      padding-top: 436px;
      padding-left: 0px;
      font-size: 48px;
      line-height: 48px;
      font-weight: 400;
      width: 201px;
      margin-top: 0;
      margin-bottom: -17px;
    }

    .slide1__slogan {
      width: 180px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 34px;
      padding-left: 2px;
    }
    
    .promo-slider__toggle-cover {
      left: 142px;
    }

    .promo-slider__toggle--left {
      bottom: 33px;      
    }

    .promo-slider__toggle--right {
      bottom: 33px;
    }

    .order__wrapper, 
    .subscribe__wrapper {
      width: 353px;
      padding-left: 16px/*20px*/;
      padding-right: 2px;
      margin: 0 auto;
    }

    .order__title {
      padding-top: 8px;
      margin-bottom: 16px;
    }

    .order__name-product {
      width: 200px;
      margin: 0;
      margin-bottom: 16px;
      padding-top: 9px;
      font-size: 32px;
      line-height: 32px;
    }
    
    .order__description-product {      
      width: 288px;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 16px;
      border-bottom: 1px solid #E1E6ED;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      opacity: 0.8;
    }

    .order__form-color {
      width: 470px;
      margin-bottom: 33px;         
    }
  
    .order__form-size  {
      width: 470px;
      padding: 0;
      margin-bottom: 24px;     
    }

    .order__guide-wrapper {
      width: 470px; 
      }

    .order__guide-btn {      
      margin-left: 0px;
      margin-top: 0;
      margin-bottom: 32px;      
  }   

    .order__form-quantity {
    margin-bottom: 16px;
  }

  .order__details {
    width: 288px;
    padding-top: 28px;
  }
  
  .order__details-title {
    margin-bottom: 8px;
  }

  .order__details-description {
    width: 288px;
  }

  .order__details-contain {
    margin-bottom: 40px;
  }

  .order__btn, 
  .subscribe-form__button {
    width: 288px;
  }

  .order__btn {
    margin-bottom: 40px;
  }

  .order__return {
    margin-bottom: 30px;
  }

  .collection__1 {
    margin-bottom: 8px;
  }

  .collection__2--model {
    margin-bottom: 52px;
  }

  .newsletter__title {
    width: 244px;    
    font-size: 24px;
    line-height: 32px;
  }

  .feedback__title {
    width: 254px;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 28px;
  }

  .feedback__input {
    width: 288px;
    margin-bottom: 16px;
  }
  
  .feedback__input--mail {
    margin-bottom: 12px;
  }

  .gender {   
    flex-wrap: wrap;
    width: 250px;
    margin-bottom: 32px;
  }

  .gender__title {
    margin-bottom: 4px;
  }

  .subscribe-form__label {
    margin-bottom: 16px;
  }

  .subscribe-form__button {
    margin-bottom: 16px;
  }
}

@media (min-width: 720px) and (max-width: 1360px) {
  
  .page-header,
  .page-main {
    width: 720px;
    margin: 0 auto;      
    }    
}

@media (min-width: 320px) and (max-width: 1359px) {

  .promo__slide1 { 
    background-image: url(img/tablet-img/slide1-tab.jpg);
    background-repeat: no-repeat;
    background-position: 19% 0;
    min-height: 600px;
  }

  .promo-slider__wrapper {
  width: 720px;
  margin: 0 auto;
  padding: 0 16px;
  }

  .slide1__name {
    padding-top: 423px;
    padding-left: 0px;
    font-size: 64px;
    line-height: 64px;
    font-weight: 400;
    width: 265px;
    margin-top: 0;
    margin-bottom: -30px;
  }

  .slide1__slogan {
    width: 270px;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 34px;
    padding-left: 2px;
  }
  
  .order__title {
    padding-top: 0px;
  }

  .order__description-product {    
    width: 688px;
    padding-left: 0;
    padding-right: 50px;
    padding-bottom: 10px;
  }

  .order__details {     
    width: 688px;
    border-top: solid 1px #E1E6ED;
    padding-top: 24px;
  }

  .order__details-description {
    width: 688px;
    margin: 0;    
    margin-bottom: 9px;
  }

  .order__details-contain {
    margin-bottom: 40px;
  }

  .order__btn {
    width: 688px;
    margin-bottom: 40px;
  }

  .order__delivery, 
  .order__return {
    width: 688px;
  }  

  .collection__1--model,
  .collection__2--model {
    display: flex;
    flex-wrap: wrap;
    min-width: 688px;    
  } 

  .collection__1--model {
    margin-bottom: 28px;
  }

  .collection__2--model {
    margin-bottom: 48px;
  }

  .feedback__title {
    margin-bottom: 24px;
  }

  .feedback__input--mail {
    margin-bottom: 12px;
  }

  .gender__title {
    margin-bottom: 40px;
  }

  .subscribe-form__label {
    margin-bottom: 16px;
  }

  .subscribe-form__button {
    margin-bottom: 20px;
  }  
}
