html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: "Rajdhani", Arial, sans-serif;
    font-style: normal;
    color: #8A94A6;;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 24px;
  }

  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .container-center {
    width: 1260px;
    margin: 0 auto;
    padding: 0 50px;
  }

.page-header__logo {
    position: absolute;
    z-index: 5;
}

.logo__pic {
    padding-top: 32px;
}

.promo__slide1 {    
    background-image: url(img/desctop-img/slide1.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    min-height: 768px;
  }

   .promo__slide2,
  .promo__slide3 {
    display: none;
  }


.slide1__name,
.slide1__slogan,
.slide1__number {
    color: #ffffff;
}

.slide1__name {
    padding-top: 572px;
    font-size: 72px;
    line-height: 72px;
    font-weight: 400;
    width: 314px;
    margin-top: 0;
    margin-bottom: -30px;     
}

.slide1__slogan {
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 32px;
}

  .slide1__number {  
      font-size: 20px;
      line-height: 32px; 
      font-weight: 500;       
      margin-left: 160px;         
  }

  .promo-slider__toggle-cover {
      position: relative;
  } 

.promo-slider__toggle {
    position: absolute;
    z-index: 7;
    margin-bottom: 20px;
    bottom: 32px;
    width: 17px;
    height: 17px;   
    border: 3px solid #ffffff;
    background-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;   
    
}

.promo-slider__toggle--left {
    left: 62px;
    transform: rotate(45deg);
}

.promo-slider__toggle--right {
    left: 113px;
    transform: rotate(225deg);
    
}

.order__title {
    width: 150px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.order__name-product {
    margin: 0;
    width: 330px;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #192B3F;
}

.order__description-product {
    width: 337px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #192B3F;
    opacity: 0.8;
}
/*----------------------поле выбора цвета--------------------------*/
fieldset {
    border: 0;
}

.order__form-color {
  margin-bottom: 20px;
}

.color__input {
    width: 26px;
    height: 26px;    
}

.color__label--black,
.color__label-d-grey,
.color__label-grey {
  position: relative;
  display: block;
  cursor: pointer;
  padding-left: 36px;
}

.color__label--black::before,
.color__label-grey::before,
.color__label-d-grey::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  /* border: 4px solid #4d4d4d; */
  left: 0;
  top: 4px;
  border-radius: 50%;
  
  /* background: radial-gradient(transparent 9px, #4d4d4d 9px, #4d4d4d 13px); */
}

.color__label--black::before {
    background-color: #192B3F;
}

.color__label-grey::before {
    left: 32px;
    background-color: #8A94A6;
}

.color__label-d-grey::before {
    left: 62px;
    background-color: #3D5876;
}


.color__input:checked+ .color__label--black::before {
    content: "";
    background: radial-gradient(#192B3F 8px, transparent 10px, transparent 11px, #192B3F 11px, #192B3F 16px);
}

.color__input:checked+ .color__label-grey::before {
    content: "";
    background: radial-gradient(#8A94A6 8px, transparent 10px, transparent 11px, #8A94A6 11px, #8A94A6 16px);
}

.color__input:checked+ .color__label-d-grey::before {
    content: "";
    background: radial-gradient(#3D5876 8px, transparent 10px, transparent 11px, #3D5876 11px, #3D5876 16px);
}
/*----------------------поле выбора размера--------------------------*/
.order__form-size {
  display: flex;
  margin-bottom: 20px;
}

.size__label-xs,
.size__label-s,
.size__label-m,
.size__label-l {
  position: relative;
  display: block;
  cursor: pointer;
  padding-left: 26px;  
}


.size__label-xs::before,
.size__label-s::before,
.size__label-m::before,
.size__label-l::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  /* border: 4px solid #4d4d4d; */
  left: 0;
  top: 4px;
  border-radius: 50%;
  
  /* background: radial-gradient(transparent 9px, #4d4d4d 9px, #4d4d4d 13px); */
}

.size__label-xs {  
  margin-left: 7px;
  font-size: 16px;
  padding-left: 0;  
}

.size__label-s::before {
  content: "";
  left: 32px;
}

.size__label-m::before {
  content: "";
  left: 62px;
}

.size__label-l::before {
  content: "";
  left: 92px;
}

/*.size__input:checked+.size__label-xs::before {
  content: "XA";
  border: 1px solid #192B3F;
  left: -2px;
  top: -1px;
}*/

.size__input:checked+.size__label-xs::before {
  content: "";
  left: -6px;
  top: -5px;
  background: radial-gradient(transparent 15px, #192B3F 16px);
}

.size__input:checked+.size__label-s::before {
  content: "";
  left: 15px;
  top: -5px;
  background: radial-gradient(transparent 15px, #192B3F 16px);
}

.size__input:checked+.size__label-m::before {
  content: "";
  left: 17px;
  top: -5px;
  background: radial-gradient(transparent 15px, #192B3F 16px);
}

.size__input:checked+.size__label-l::before {
  content: "";
  left: 14px;
  top: -5px;
  background: radial-gradient(transparent 15px, #192B3F 16px);
}

.size__input:checked+.size__label {
  color: #192B3F;
  font-size: 20px;  
}


.quantity__button {
  display: block;
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
 
  /*outline: none;*/
}

.quantity__button:checked {
  border: solid 1px red;
}